body {
    font-family: "Roboto",sans-serif;
    margin: 0;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-section {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    width: 100%;
}

.hero-content {
    display: flex;
    align-self: center;
    justify-self: space-evenly;
    width: 70%;
    padding: 120px;
    gap: 70px;
    
}

.hero-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.hero-info h1 {
    align-self: flex-start;
    margin: 0;
}

.hero-info p {
    margin: 0;
    color: #F9FAF8;
    
}

.hero-info button {
    align-self: flex-start;
    background-color: #3882f6;
    border: 0 solid #F9FAF8;
    border-radius: 8px;
    color: #F9FAF8;
    padding: 7px 30px 7px 30px;
    margin-right: 40px;
    font-weight: bold;
    font-size: 14px;
}

.hero-main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
    flex-basis: 0;
}


.header-nav {
    display: flex;
    justify-content: space-around;
}

ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    gap: 30px;
    
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-top: 16px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

img {
    width: 400px;
    height: 200px;
    flex-shrink: 0;
    margin-right: 20px;
}

.box-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 100px;
}

.box-section p{
    text-align: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.box-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 38px;
}

.box-container {
    width: 150px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.box {
    width: 135px;
    height: 135px;
    border: 4px solid #3882f6;
    border-radius: 12px;
}

.box-container .text {
    text-align: center;
    color: gray;
}

.quote-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;

}

.quote-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: auto;
    padding-top: 120px;
    padding-bottom: 85px;
    gap: 10px;
}

.quote-text {
    text-align: left;
    margin: 0;
    color: #1f2937;
    font-size: 30px;
    font-weight: 100;
}

.quote-author {
    text-align: right;
    margin: 0;
    font-size: 20px;
    color: #1f2937;
    font-weight: bold;
    margin: 0;
    margin-right: 50px;
}

.sign-up-section {
    padding-top: 100px ;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.sign-up-container {
    background-color: #3882f6;
    display: flex;
    /* padding: 15px 80px 15px 80px; */
    border-radius: 5px;
    justify-content: space-between;
    width: 55%;
    padding: 20px 80px 20px 80px;
}

.sign-up-container {
    color: #F9FAF8;
}

.sign-up-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    padding: 20px 0 20px 20px;
}

.sign-up-text p {
    margin: 0;
}

.sign-up-text .title {
    font-weight: bold;
    font-size: 20px;
}

.sign-up-container button {
    background-color: #3882f6;
    border: 2px solid #F9FAF8;
    border-radius: 8px;
    color: #F9FAF8;
    align-self: center;
    justify-self: flex-end;
    padding: 7px 30px 7px 30px;
    margin-right: 40px;
    font-weight: bold;
    font-size: 14px;
}

footer {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 34px;
}